<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    {{! <style>
      body{ background-color: orange; display: flex; height: 100vh; width:
      100vw; justify-content: center; align-items: center; flex-direction:
      column; } nav{ cursor: pointer; } ul{ text-decoration: none; }form{
      display: flex; justify-content: space-around; align-items:center;
      flex-direction: column; height: 30vh; } input[type="submit"] { border:
      none; border-radius: 5%; background-color: olive; width: 6rem; height:
      2rem; }
    </style> }}
    <link rel="stylesheet" href="/style/main.css" />
  </head>
  <body>
    <header>
      <nav class="navigation">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/user/login">Login/Register</a></li>
          <li><a href="/about">About us</a></li>
        </ul>
      </nav>
    </header>
    {{!  two means value three means render out this html  }}
    {{{body}}}
  </body>
</html>